.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10vh;
  background:dodgerblue;
  color:rgb(255, 255, 255);
}
.nav-links{
  display: flex;
  width:40%;
  justify-content: space-around;
  list-style-type: none;

}
.link{
  text-decoration: none;
}